
<div id="block{{id}}">
    <div>
        <p>Gezicht</p>
        <div id='gezicht'>
            <img src="{{asset('Photos/gezicht.png')}}"/>
        </div>
    </div>
    <div>
        <p>Lichaam</p>
        <div id='lichaam'>
            <img src="{{asset('Photos/lichaam.png')}}"/>
        </div>
        </div>
    <div>
        <p>Losse Behandeling</p>
        <div id='los'>
            <img src="{{asset('Photos/los.png')}}"/>
        </div>
    </div>
    <div>
        <p>Cadeaubon</p>
        <div id='cadeabon'>
            <img src="{{asset('Photos/cadeaubon.png')}}"/>
        </div>
    </div>
</div>